body,
html {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
.wrap {
  width: 100%;
  height: 100%;
}
.m-header,
.m-canvas,
.m-selectregion {
  width: 100%;
}
.m-header {
  height: 4%;
  padding: 2% 0;
  background: linear-gradient(to bottom, #9bb1c4 0%, #577793 100%);
  box-shadow: 0px 1px 6px #c7c7c7;
}
.m-header .m-notice {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  color: #fff;
}
.m-header .m-notice .m-notice-lf {
  flex: 1;
  text-align: center;
  border-right: 1px solid #bbcad7;
}
.m-header .m-notice .m-notice-lf span {
  color: #ffffff;
  font-size: 2em;
}
.m-header .m-notice .m-notice-rg {
  flex: 3;
  text-align: left;
  height: 100%;
}
.m-header .m-notice .m-notice-rg span {
  padding-left: 5%;
  font-size: 1em;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
.m-canvas {
  height: 30%;
  width: 100%;
  margin: 4% auto 0;
  box-shadow: 0px 1px 6px #bbcad7;
}
.m-canvas .m-canvas-title {
  height: 4%;
  padding: 5px 0;
  background: #fff;
  display: table;
  width: 100%;
  color: #7b98b1;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #bbcad7;
}
.m-canvas .m-canvas-title b {
  font-weight: normal;
  font-size: .8rem;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.4rem;
}
.m-canvas .m-canvas-title b span {
  font-size: 1.2rem;
  vertical-align: bottom;
  padding: 0 10px;
  line-height: 1.4rem;
}
.m-canvas .m-canvas-box {
  height: 80%;
  overflow: auto;
  border-radius: 0 0 10px 10px;
}
.m-canvas .m-canvas-box img {
  width: 100%;
}
.m-selectregion {
  width: 100%;
  margin: 4% auto 0;
  height: 46%;
  box-shadow: 0px 1px 6px #bbcad7;
}
.m-selectregion .m-selectregion-tit {
  height: 4%;
  padding: 5px 0;
  display: table;
  width: 100%;
  color: #7b98b1;
  background: #fff;
  border-bottom: 2px solid #bbcad7;
}
.m-selectregion .m-selectregion-tit b {
  font-weight: normal;
  font-size: .8rem;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.4rem;
}
.m-selectregion .m-selectregion-tit b span {
  font-size: 1.2rem;
  vertical-align: bottom;
  padding: 0 10px;
}
.m-selectregion .m-selectregion-main {
  height: 84%;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf {
  flex: 2;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-top,
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-bottom {
  height: 10%;
  text-align: center;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-top span,
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-bottom span {
  font-size: 1.4rem;
  color: #7b98b1;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-top span {
  vertical-align: top;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-bottom span {
  vertical-align: bottom;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .weui-cells:after,
.m-selectregion .m-selectregion-main .m-selectregion-lf .weui-cells:before {
  height: 0;
  left: auto;
  right: auto;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-main {
  height: 80%;
  margin: 0 0 0 3%;
  box-shadow: 0px 1px 6px #bbcad7;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-main .area-box {
  box-shadow: 0px 1px 6px #bbcad7;
  transition-duration: .5s;
  height: 25%;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d9d6ba;
  border-bottom: 0;
  background: transparent;
  color: #7b98b1;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-main .area-box .weui-switch-cp__input:checked ~ .weui-switch-cp__box,
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-main .area-box .weui-switch:checked {
  border-color: #fff7a5;
  background-color: #fff7a5;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-main .area-box:hover {
  box-shadow: 0px 2px 2px 2px #bababa);
  -webkit-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px);
  transform: translate(0, -3px);
  z-index: 100;
  background: #fffce3;
  height: 26%;
  border-radius: 8px;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-main .area-box:first-child {
  border-radius: 8px 8px 0 0;
}
.m-selectregion .m-selectregion-main .m-selectregion-lf .m-selectregion-box-main .area-box:last-child {
  border-bottom: 1px solid #d9d6ba;
  border-radius: 0 0 8px 8px;
}
.m-selectregion .m-selectregion-main .m-selectregion-rg {
  flex: 1;
  height: 102%;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.m-selectregion .m-selectregion-main .m-selectregion-rg img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  vertical-align: middle;
}
.m-menu .weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
  color: #999;
}
